<mat-card>
  <mat-card-header>
    <mat-card-title>Edit Profile</mat-card-title>
    <mat-card-subtitle>Update your details below</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <form>
      <mat-form-field>
        <input
          matInput
          [(ngModel)]="userData.username"
          type="text"
          name="Username"
          required
          disabled
        />
      </mat-form-field>
      <mat-form-field>
        <input
          matInput
          [(ngModel)]="userData.password"
          type="password"
          placeholder="Password (required)"
          name="Password"
          required
        />
      </mat-form-field>
      <mat-form-field>
        <input
          matInput
          [(ngModel)]="userData.email"
          type="email"
          name="Email"
        />
      </mat-form-field>
      <mat-form-field>
        <mat-label>Birthday</mat-label>
        <input
          matInput
          [min]="minDate"
          [max]="maxDate"
          [matDatepicker]="picker"
          [(ngModel)]="userData.birthday"
          name="Birthday"
        />
        <!-- <mat-hint>MM/DD/YYYY</mat-hint> -->
        <mat-datepicker-toggle
          matIconSuffix
          [for]="picker"
        ></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
        <!-- <input
          matInput
          [(ngModel)]="userData.birthday"
          type="date"
          max="9999-12-31T23:59"
          name="Birthday"
        /> -->
      </mat-form-field>
    </form>
  </mat-card-content>
  <mat-card-actions class="action-buttons-top">
    <button mat-raised-button (click)="editProfile()" color="primary">
      Confirm
    </button>
    <button mat-raised-button (click)="closeDialog()" color="primary">
      Cancel
    </button>
  </mat-card-actions>
  <mat-card-actions>
    <button mat-raised-button (click)="deleteProfileOne()" color="warn">
      Delete Profile
    </button>
  </mat-card-actions>
</mat-card>
