mat-card-title {
  padding: 1rem 0rem;
  font-size: 1.5rem;
}

mat-card-subtitle {
  padding: 2rem 0rem;
}

.action-buttons-top {
    gap: 1rem;
    margin-bottom: 1rem;
}

mat-card {
padding: 2rem;
align-items: center;
flex-direction: column
}

mat-form-field {
  width: 85%
}