<nav>
  <h2 (click)="goHome()">MarvelFlix</h2>
  <div>
    <button class="hideButton" mat-button color="primary" (click)="goHome()">
      Home
    </button>
    <button mat-button color="primary" (click)="logoutUser()">Logout</button>
    <button mat-raised-button color="warn" (click)="openEditProfileDialog()">
      Edit Profile
    </button>
  </div>
</nav>

<div class="profile">
  <p>
    Username: <span>{{ parsedUser.username }}</span>
  </p>
  <p>
    Email: <span>{{ parsedUser.email }}</span>
  </p>
  <p>
    Birthday: <span>{{ birthdayWithoutTime }}</span>
  </p>
  <p>Favourite Movies:</p>
</div>
<div class="movies">
  <mat-card
    *ngFor="let movie of favMovies; let i = index"
    style="flex: 1 1 auto"
  >
    <mat-card-header>
      <mat-card-title>{{ movie.title }}</mat-card-title>
      <mat-card-subtitle
        >Directed by: {{ movie.director.name }}</mat-card-subtitle
      >
    </mat-card-header>
    <img src="{{ movie.imagePath }}" alt="{{ movie.title }}" />
    <mat-card-actions>
      <button mat-button color="primary" (click)="openGenre(movie)">
        Genre
      </button>
      <button mat-button color="primary" (click)="openDirector(movie)">
        Director
      </button>
      <button mat-button color="primary" (click)="openSynopsis(movie)">
        Synopsis
      </button>
      <mat-icon id="{{ movie._id }}-fav-icon" (click)="deleteFavs(movie)">{{
        isFav(movie) ? "favorite" : "favorite_border"
      }}</mat-icon>
    </mat-card-actions>
  </mat-card>
</div>
